/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset for List Styles */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Asterisk wildcard selector to override the automatic browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*General text colour style*/
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1,
h2 {
    color: #060606;
    font-weight: 800;
    font-size: 3rem;
}

/*Button Styles*/

/*Styling for button in about section*/
.button {
    background-color: #e7b5ac;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 20px;
}

/*Styling to change background colour of button during hover*/
.button:hover {
    background-color: #d1958a;
}

/*Styling to change background colour of button when clicked*/
.button:active,
.button:focus {
    background-color: #a97b6c;
}


/*Header Section*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #060606;
    font-weight: 600;

}

#menu {
    list-style-type: none;
    padding: 0;
}

.active {
    border-bottom: 1px solid #060606;
}

/*Adjust size of logo*/
.logo {
    width: 150px;
    height: 100px;
    max-width: 100%;
    margin-right: 80px;
}

/*Ensure image stays inside the header container*/
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Styles for the burger menu in nav bar*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Burger Menu Toggle*/
#burger-menu:checked~nav {
    display: block;
}

#burger-menu {
    display: none;
}

.burger-menu-label {
    font-size: 2rem;
    color: #060606;
}

/*Main Section*/
main {
    /* Takes up any surplus space, doesn't shrink */
    flex: 1 0 auto;
    margin-top: 110px;
    position: relative;
}

/*Website Hero Section*/

#hero-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

#hero-text {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: right;
    margin: 0;
    transform: translateY(-50%);
}

#hero-text {
    font-size: 2rem;
}

/*About Section*/

/*Generic styling for about section*/
#about {
    display: flex;
    flex-direction: column;
    background-color: #fdf4ef;
    align-items: left;
    color: #060606;
    font-size: 13px;
    padding-bottom: 40px;
}

#section1 .tiny-circle {
    width: 10px;
    height: 10px;
    background-color: #676b40;
    border-radius: 50%;
}

/*Styling for text in about section*/
#section1 {
    margin-top: 40px;
    margin-left: 40px;
margin-bottom: 20px;
}

#section1 h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}

/*Styling for images in about section*/

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle-container {
    width: 50%;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 50%;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*Call-to-action-section-1*/

/*Footer Section*/
footer {
    background-color: #676b40;
    height: 600px;
    position: relative;
}

#social-media-icons {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    position: absolute;
    bottom: 40px;
    padding: 10px;
}

#social-media-icons i {
    padding: 10%;
    font-size: 30px;
    color: #ffffff;
}

#social-media-icons li {
    margin-right: 15px;
}

/*Styling for contact form header*/
.contact-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 250;
    font-size: 14px;
    color: #ffffff;
    margin: 40px 10px 0;
}

/*Styling for horizontal line*/
.horizontal-line {
    border: 1px solid #ffffff;
    margin: 15px 0;
}

/*Styling for contact form*/
#contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
}

#contact-form label {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 75;
    font-size: 13px;
    margin-bottom: 5px;
}

#contact-form .form-input,
#contact-form textarea {
    font-family: 'Montserrat', sans-serif;
    color: #060606;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 9px;
}

#contact-form .contact-button {
    background-color: #e7b5ac;
    color: #060606;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    width: auto;
    align-self: flex-start;
}

/*Styling for logo in the footer*/
.footer-logo {
    display: none;
}

/*Media Query for screens larger than a tablet - 768px and above*/
@media screen and (min-width: 768px) {

    /*Header Section*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.5rem;
    }

    .burger-menu-label {
        display: none;
    }

    /*Main Section Styling*/
    /*Hero Section*/
    h1,
    h2 {
        font-size: 4rem;
    }

    /*About Section*/

    #about {
        flex-direction: row;
        height: auto;
    }

    #section2 {
        flex-direction: row;
    }

    .circle-container {
        width: 100%;
    }

    /*Footer Styling*/

    footer {
        height: 559px;
    }

    #social-media-icons {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        margin-top: 20px;
        list-style-type: none;
        margin-right: 20px;
        bottom: 20px;
    }


    /*Styling for contact form*/

    .contact-form {
        width: 50%;
        padding-left: 40px;
    }

    /* Styling for logo in the footer */
    .footer-logo {
        width: 300px;
        height: 200px;
        max-width: 100%;
        margin-top: 40px;
        margin-right: 20px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .footer-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*Media Query for large screens (laptops & desktops - 992px and above*/
@media screen and (min-width: 992px) {

    /*Nav Menu Styling*/
    #menu a:hover {
        border-bottom: 1px solid #060606;
    }

    /*Main Section Styling*/

    /*Hero Section*/
    h1,
    h2 {
        font-size: 5rem;
    }

    /*About Section*/

    #about {

        display: flex;
        flex-direction: row;
        height: auto;
    }

    /*Footer Styling*/
    footer {
        height: 559px;
    }

    #social-media-icons {
        margin-right: 20px;
        right: 0;
    }
}