/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset for List Styles */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Asterisk wildcard selector to override the automatic browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*General text colour style*/
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

/*Header Section*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #060606;
    font-weight: 600;

}

#menu {
    list-style-type: none;
    padding: 0;
}

.active {
    border-bottom: 1px solid #060606;
}

/*Adjust size of logo*/
.logo {
    width: 150px;
    height: 100px;
    max-width: 100%;
    margin-right: 80px;
}

/*Ensure image stays inside the header container*/
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Styles for the burger menu in nav bar*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Burger Menu Toggle*/
#burger-menu:checked~nav {
    display: block;
}

#burger-menu {
    display: none;
}

.burger-menu-label {
    font-size: 2rem;
    color: #060606;
}

/*Main Section*/
main {
    background-color: #060606;
    /* Takes up any surplus space, doesn't shrink */
    flex: 1 0 auto;
    margin-top: 110px;
}

/*Footer Section*/
footer {
    background-color: #676b40;
    height: 600px;
    position: relative;
}

#social-media-icons {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    position: absolute;
    bottom: 40px;
}

#social-media-icons i {
    padding: 10%;
    font-size: 30px;
    color: #060606;
}

#social-media-icons li {
    margin-right: 15px;
}

/*Styling for contact form header*/
.contact-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 250;
    font-size: 14px;
    color: #ffffff;
    margin: 40px 40px 0;
}

/*Styling for horizontal line*/
.horizontal-line {
    border: 1px solid #ffffff;
    margin: 15px 0;
}

/*Styling for contact form*/
.contact-left {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
}

#contact-form label {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 75;
    font-size: 15px;
    margin-bottom: 5px;
}

#contact-form .form-input,
#contact-form textarea {
    font-family: 'Montserrat', sans-serif;
    color: #060606;
    background-color: #ffffff;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 9px;
}

#contact-form .right-section-form {
    display: flex;
    flex-direction: column;
}

#contact-form textarea {
    resize: vertical;
    margin-bottom: 10px;
}

#contact-form textarea {
    resize: vertical;
    margin-bottom: 10px;
}

#contact-form .contact-button {
    background-color: #e7b5ac;
    color: #060606;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    width: 80%;
}


/*Media Query for screens larger than a tablet - 768px and above*/
@media screen and (min-width: 768px) {

    /*Header Section*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.5rem;
    }

    .burger-menu-label {
        display: none;
    }

    /*Footer Styling*/
    #social-media-icons {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        margin-top: 20px;
        list-style-type: none;
        margin-right: 20px;
    }

    footer {
        height: 559px;
    }

    /*Styling for contact form*/

    .contact-left {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #contact-form .form-input {
        width: 50%;
        /* Updated width */
    }

    #contact-form .right-section-form {
        width: 50%;
        /* Updated width */
    }

}

/*Media Query for large screens (laptops & desktops - 992px and above*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #060606;
    }

    footer {
        height: 559px;
    }

    #social-media-icons {
        margin-right: 20px;
        right: 0;
    }
}