/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset for List Styles */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Asterisk wildcard selector to override the automatic browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*General text colour style*/
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

h1,
h2 {
    color: #060606;
    font-weight: 800;
    font-size: 2rem;
}

/*Button Styles*/

/*Styling for button in about section*/
.button {
    background-color: #e7b5ac;
    color: #060606;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 20px;
}

/*Styling to change background colour of button during hover*/
.button:hover {
    background-color: #d1958a;
}

/*Styling to change background colour of button when clicked*/
.button:active,
.button:focus {
    background-color: #a97b6c;
}

/*Pink-word-highlight-styling*/

.pink-word {
    color: #e7b5ac;
    text-transform: uppercase;
}

/*Green-word-highlight-styling*/

.green-word {
    color: #676b40;
    text-transform: uppercase;
}

/*Header Section*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #060606;
    font-weight: 600;

}

#menu {
    list-style-type: none;
    padding: 0;
}

.active {
    border-bottom: 1px solid #060606;
}

/*Adjust size of logo*/
.logo {
    width: 150px;
    height: 100px;
    max-width: 100%;
    margin-right: 80px;
}

/*Ensure image stays inside the header container*/
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Styles for the burger menu in nav bar*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Burger Menu Toggle*/
#burger-menu:checked~nav {
    display: block;
}

#burger-menu {
    display: none;
}

.burger-menu-label {
    font-size: 2rem;
    color: #060606;
}

/*Code to ensure screenreaders pickup the checkbox*/
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/*Home Page Styling*/
/*Main Section*/
main {
    /* Takes up any surplus space, doesn't shrink */
    flex: 1 0 auto;
    margin-top: 110px;
    position: relative;
}

/*Website Hero Section*/

#hero-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

#hero-text {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: right;
    margin: 0;
    transform: translateY(-50%);
}

/*About Section*/

/*Generic styling for about section*/
#about {
    display: flex;
    flex-direction: column;
    background-color: #fdf4ef;
    color: #060606;
    padding-bottom: 40px;
}

/*Styling for text in about section*/
.content {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.content h2 {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

/*Styling for image in about section*/

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*Call-to-action-section-1*/

#cta1 {
    background-color: #676b40;
    text-align: center;
    font-size: 1.5rem;
    padding: 5% 10%;
}

#cta1 .tiny-circle {
    width: 10px;
    height: 10px;
    background-color: #e7b5ac;
    border-radius: 50%;
    margin: 0 auto;
}

#cta1 h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

/*Services Section*/

#services {
    background-color: #060606;
    text-align: center;
    font-size: 1.5rem;
    padding: 5% 10%;
}

.section-header .tiny-circle {
    width: 10px;
    height: 10px;
    background-color: #e7b5ac;
    border-radius: 50%;
    margin: 0 auto;
}

.services-header h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

/*Styling for services grid*/

.services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    filter: grayscale(100%);
}

.label {
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e7b5ac;
    color: #060606;
    text-align: center;
    font-weight: bold;
}

/*Hover effect on services labels*/
.image-container:hover .label {
    opacity: 1;
}

/*Pricing Section*/

#pricing {
    background-color: #e7b5ac;
    font-size: 1.5rem;
    padding: 5% 10%;
}

.section-header {
    text-align: center;
}

.section-header .tiny-circle {
    width: 10px;
    height: 10px;
    background-color: #676b40;
    border-radius: 50%;
    margin: 0 auto;
}

.pricing-header h2 {
    margin-bottom: 10px;
    color: #060606;
}

/*Styling for pricing grid*/

.pricing-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Pricing box styling*/

.pricing-grid>div {
    background-color: #060606;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

/*Icons in pricing box*/

.pricing-grid>div p {
    margin: 0;
    text-align: left;
    color: #676b40;
    font-size: 3rem;
}

/* Headings in pricing box*/

.pricing-grid>div h3,
.pricing-grid>div h4 {
    margin: 10px 0;
    font-size: 0.9rem;
}

/*Text in pricing box*/
.pricing-grid>div p:not(:first-child) {
    margin: 10px 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    padding-right: 30px;
}

/*Testimonials Section*/

/*styling for testimonials section*/
#testimonials {
    display: flex;
    flex-direction: column;
    background-color: #fdf4ef;
    color: #060606;
    padding-bottom: 40px;
}

/*Styling for text in testimonials section*/
.testimonials-content {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*Styling for about page*/

/*Styling for reasons section*/

.reasons {
    display: flex;
    flex-direction: column;
    background-color: #060606;
    text-align: left;
    margin: 0;
}

.text {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: left;
}

.text .tiny-circle {
    width: 10px;
    height: 10px;
    background-color: #e7b5ac;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
}

.reasons-header h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

/*Styling for tick icons*/

.fa-solid.fa-circle-check {
    color: #676b40;
    font-size: 4rem;
    margin-bottom: 15px;
}

/*Styling for reasons image*/

.reasons-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
}

.reasons-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

/*Footer Section*/
footer {
    background-color: #676b40;
    height: 600px;
    position: relative;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%
}

/*Styling for contact form*/

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
}

.contact-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 250;
    font-size: 1.8rem;
    color: #ffffff;
    margin: 10px 10px;
}

/*Styling for horizontal line*/

.horizontal-line {
    border: 1px solid #ffffff;
    margin: 15px 0;
}

.contact-form-container {
    display: flex;
}

.contact-form label {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact-form .form-input,
#contact-form textarea {
    font-family: 'Montserrat', sans-serif;
    color: #060606;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 9px;
}

#contact-form .contact-button {
    background-color: #e7b5ac;
    color: #060606;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 9px;
    width: auto;
    align-self: flex-start;
    margin-bottom: 50px;
}

/*Formatting for social media links*/

#social-media-icons {
    display: flex;
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 5px;
    padding: 0;
    right: 20px;
}

#social-media-icons i {
    padding: 10%;
    font-size: 30px;
    color: #ffffff;
}

#social-media-icons li {
    margin-right: 15px;
}

/*Styling for logo in the footer*/
.footer-logo {
    display: none;
}

/*Media Query for screens larger than a tablet - 768px and above*/
@media screen and (min-width: 768px) {

    /*Header Section*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.5rem;
    }

    .burger-menu-label {
        display: none;
    }

    /*Main Section Styling*/
    /*Hero Section*/
    h1,
    h2 {
        font-size: 4rem;
    }

    /*About Section*/

    #about h2 {
        flex-direction: row;
        height: auto;
        font-size: 2.5rem;
    }


    /*Styling for image in about section*/
    .circle-container {
        display: none;
    }

    /*Services Section Styling*/

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /*Pricing Section Styling*/

    .pricing-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 80%;
        margin: 20px auto;
        align-items: stretch;
    }

    /*Footer Styling*/

    footer {
        height: 559px;
    }

    #social-media-icons {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        margin-top: 20px;
        list-style-type: none;
        margin-right: 20px;
        bottom: 20px;
    }


    /*Styling for contact form*/

    .contact-form {
        width: 80%;
        max-width: 600px;
        margin: 0;
        margin-left: 20px;
        margin-right: auto;

    }
}

/*Media Query for large screens (laptops & desktops - 992px and above*/
@media screen and (min-width: 992px) {

    /*Nav Menu Styling*/
    #menu a:hover {
        border-bottom: 1px solid #060606;
    }

    /*Homepage Styling*/
    /*Main Section Styling*/

    /*Hero Section*/
    h1,
    h2 {
        font-size: 5rem;
    }

    /*About Section*/

    #about h2 {
        display: flex;
        flex-direction: row;
        height: auto;
        font-size: 3rem;
    }

    /*Services Section*/

    .services-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /*About Page Styling*/

    /*Styling for image in reasons section*/
    .reasons-image {
        display: none;
    }
    
    /*Footer Styling*/
    footer {
        height: 559px;
    }

    /* Styling for logo in the footer */
    .footer-logo {
        width: 300px;
        height: 200px;
        max-width: 100%;
        margin-top: 40px;
        margin-right: 20px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .footer-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #social-media-icons {
        margin-right: 20px;
        right: 0;
    }
}